.horizontal-divider {
  display: flex;
  flex: 1;
  width: 100%;
  background: $color-background-300;
}

.card-container {
  margin: 1rem 0;
  padding: 0rem 2rem 1.5rem 2rem;

  min-width: 382px;
  max-width: 382px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $color-white-0;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;

  &__bottom-container {
    width: 100%;
  }

  &__graphic-outer-container {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin-top: auto;
    padding-top: 1rem;

    hr {
      margin-top: auto;
      margin-bottom: -32px;
      background-color: $color-background-300;
      border: none;
      height: 1px;
      width: 100%;
    }
  }

  &__graphic-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 24px;
    gap: 1.5rem;

    &__graphic1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 8px;

      width: 95px;
      height: 62px;

      h5 {
        font-size: 1.1rem;
        color: #019257;
      }
      p {
        width: 100px;
        line-height: 16px !important;
        font-size: 0.8rem !important;
        text-align: center;
        margin-top: -31px !important;
      }
    }

    &__graphic2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 8px;

      width: 95px;
      height: 62px;

      h5 {
        font-size: 1.1rem;
        color: #d93e3e;
      }
      p {
        width: 100px;
        line-height: 16px !important;
        font-size: 0.8rem !important;
        text-align: center;
        margin-top: -31px !important;
      }
    }
  }

  &__avatars {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 4rem;

    img {
      margin-left: 10px;
    }

    h5 {
      margin-left: 10px;

      font-size: 1rem;
      color: $color-primary-orange;
      font-weight: 400;
    }
  }

  h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 700;

    color: $color-black-0;
  }

  h4 {
    font-size: 1.1rem;
    color: $color-black-0 !important;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: $color-black-0;
    margin-top: auto;
    padding-bottom: 1rem;
    margin-bottom: auto;
  }

  a {
    width: 126px;
  }

  @include mobile() {
    min-width: 325px;
    padding: 32px 24px;

    h4 {
      font-size: 1.5rem;
    }
  }
}
