.select-container {
  border: 0;
  display: flex;
  flex-direction: column;
  padding: 0px;

  width: 100%;

  margin-bottom: 24px;

  &__label {
    font-size: 0.75rem;
    margin-bottom: 8px;
    font-weight: 500;
    color: $color-black-0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex: 1;

    &::after {
      content: url(../../../../assets/icons/chevron-down.png);
      top: 20%;
      right: 1rem;
      position: absolute;
    }
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid $color-gray-400;
    box-shadow: 0px 2px 2px rgba(33, 37, 41, 0.06),
      0px 0px 1px rgba(33, 37, 41, 0.08);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    color: $color-gray-900;

    &:focus {
      outline: none;
      border: 1px solid $color-primary-orange;
    }

    &--error {
      border: 1px solid $color-error;
    }
  }

  &__textarea {
    border: 1px solid $color-gray-400;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 18%);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1rem;
    color: $color-gray-900;
    height: 180px;
    &:focus {
      outline: none;
      border: 1px solid $color-primary-orange;
    }
  }

  &__errorMessage {
    color: $color-error;
    font-size: 0.75rem;
    font-weight: 400;

    margin-top: 6px;
  }
}
