.agent-frequently-asked-questions {
  background-color: $color-white-0;
  box-shadow: 0px 4px 6px rgba(33, 37, 41, 0.2),
    0px 0px 1px rgba(33, 37, 41, 0.32);

  padding: 3.375rem 6rem;
  margin: 2rem 0;
  border-radius: 1rem;

  @include tablet() {
    padding: 1rem 0.25rem !important;
  }

  @include tablet {
    padding: 20px 24px !important;
  }

  header {
    cursor: pointer;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: $color-gray-text;
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 0 !important;
      margin: 0;

      header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin: 0;
        padding: 0;

        h4 {
          font-size: 1.75rem;
          font-weight: 600;
          color: $color-text-800;

          width: auto;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: $color-text-800;
        white-space: pre-wrap;
      }
    }
  }

  @include tablet {
    padding: 0 1.5rem;
    ul li header h4 {
      font-size: 1rem;
      width: 100%;
      width: 200px;
    }
  }

  @include mobile {
    h4 {
      font-size: 1rem !important;
    }
  }
}

.agent-frequently-asked-questions-item {
  min-width: 40px;
  min-height: 40px;
  background-color: $color-primary-orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 700;
  color: $color-white-0;

  &__description {
    li {
      list-style: disc;
      margin-left: 25px !important;
    }
  }
}

.icon-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  svg {
    stroke: $color-orange-800;

    transition: transform 0.2s ease-in-out;

    &[aria-pressed="true"] {
      transform: rotate(180deg);
    }
  }
}
