.tags-container {
  gap: 1rem;
  display: flex;
  justify-content: flex-end;

  @include mobile {
    flex-direction: column;
    margin: 20px;
  }
}

.product-types-section {
  box-shadow: 0px 4px 6px rgb(33 37 41 / 20%), 0px 0px 1px rgb(33 37 41 / 32%);
  padding: 1rem 4rem;
  margin: 44px 0px;
  background: $color-white-0;

  border-radius: 16px;

  border-radius: 1rem;

  @include tablet() {
    padding: 1rem 2rem;
  }

  > h4 {
    margin-left: -15px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: $color-gray-text;
    text-transform: uppercase;

    @include mobile {
      margin: 5px -16px -2px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &__product {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin: 2px 2px -60px 0px;

      @include mobile {
        h4 {
          font-size: 1.5rem;
          width: 262px;
        }
      }
    }

    &__title {
      font-size: 1.75rem;
      font-weight: 700;
      color: $color-text-800;
      text-align: left;

      @include mobile {
        font-size: 1rem;
        font-weight: 700;
      }
    }

    p {
      color: $color-text-800;

      @include mobile {
        width: 254px;
      }
    }

    strong {
      font-size: 1rem;
      font-weight: 400;

      border: 2px solid $color-primary-orange;
      border-radius: 100px;
      padding: 8px 16px;
      display: flex;
      white-space: nowrap;
      align-items: center;
      height: 40px;
    }

    &__sub {
      display: flex;
      flex-direction: row;

      li {
        margin: 5px 0px;

        @include mobile {
          word-break: break-all;
          white-space: pre-wrap;
        }
      }
    }

    li {
      list-style: inside;
      color: $color-primary-orange;

      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.5rem;
    }

    @include mobile {
      li,
      p {
        font-size: 1.125rem;
      }
    }
  }

  @include mobile {
    padding: 1rem 2rem;
  }
}
