.card {
  &__investment-principles {
    position: absolute;
    width: 1110px;
    height: 663px;
    left: 190px;
    top: 265px;

    background: $color-white-0;
    border-radius: 16px;

    @include mobile {
      width: 380px;
      height: 597px;
      left: 24px;
      top: 300px;
    }

    h6 {
      position: absolute;
      width: 285px;
      height: 28px;
      left: 95px;
      top: 10px;

      font-size: 1.125rem;
      line-height: 28px;

      letter-spacing: 0.4px;
      text-transform: uppercase;

      color: $color-gray-text;

      @include mobile {
        width: 260px;
        height: 20px;
        left: 24px;
        top: -8px;

        font-size: 1rem;
        line-height: 20px;
      }
    }

    p {
      width: 470px;
      height: 252px;

      font-size: 1.125rem;
      line-height: 28px;

      color: $color-text-800;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

      @include mobile {
        width: 294px;
        height: 360px;

        font-size: 1rem;
        line-height: 24px
      }
    }
  }

  &__card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  
    position: absolute;
    width: 540px;
    left: calc(50% - 540px/2 - 190px);
    top: 19.61%;
    bottom: 24.28%;

    @include mobile {
      width: 294px;
      left: calc(50% - 294px/2 - 19px);
      top: 12.73%;
      bottom: 17.59%;

      gap: 16px;
    }
  }
  
  &__card-title {
    width: 540px;
    height: 96px;
    display: flex;
    align-items: center;
  
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  
    letter-spacing: -0.408px;
    font-feature-settings: 'case' on;

    @include mobile {
      width: 294px;
      height: 40px;
    }
  
    strong {
      font-size: 32px;
      color: $color-orange-800;
      margin-top: -47px;
      margin-right: 8px;

      @include mobile {
        margin-right: 5px;

        font-size: 1rem;
        line-height: 20px;
      }
    }
  
    h1 {
      font-family: 'Spoqa Han Sans Neo';
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 48px;
  
      color: $color-text-800;

      @include mobile {
        font-size: 1rem;
        line-height: 20px;
      }
    } 
  }  

  &__img-container {
    position: absolute;
        
    left: 660px;
    top: 80px;

    border-radius: 16px;

    @include mobile {
      display: none;
    }
  }
}
