.value-remark {
  display: flex;
  flex-direction: row;
  color: $color-white-0;

  h3 {
    font-size: 18px;
  }

  * {
    margin: 0;
  }

  &__divider {
    width: 0.3125rem;
    height: 100%;
    margin-right: 16px;
    background-color: $color-white-0;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
  }

  &__value-container {
    display: flex;
    flex-direction: row;

    p {
      font-weight: 700;
      font-size: 18px;
      margin-right: 4px;
      align-self: flex-end;
    }

    h1 {
      margin: 0;
    }

    label {
      font-weight: 700;
      font-size: 18px;
      margin-left: 12px;
    }
  }
}
