.card-container {
  margin: 1rem 0;
  padding: 2rem 2rem 3.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $color-white-0;

  width: 540px;
  height: 264px;

  border-radius: 1rem;
  filter: drop-shadow(0px 4px 6px rgba(33, 37, 41, 0.2))
    drop-shadow(0px 0px 1px rgba(33, 37, 41, 0.32));

  &__icon {
    display: flex;

    img {
      margin-right: 20px;
    }
  }

  h4 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: $color-orange-800;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 130%;
      height: 4px;
      background-color: $color-orange-800;
      opacity: 0.2;
      border-radius: 1rem;
    }
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: $color-text-800;
    margin-top: 2.5rem;
  }

  @media screen and (max-width: 614px) {
    width: 342px;
    height: 340px;

    h4 {
      font-size: 1.5rem;

      &:after {
        width: 0%;
      }
    }
  }
}
