.platforms {
  &__title {
    color: $color-white-100;
  }

  &__divider {
    width: 85px;
    height: 5px;
    background: $color-orange-800;
  }

  &__list {
    position: relative;
    display: flex;
    gap: 24px;

    overflow-x: scroll;
    scroll-behavior: smooth;

    margin: 50px 0px;
    padding-bottom: 10px;

    // li:first-child {
    //   margin-left: 5px;
    // }

    li:last-child {
      margin-right: 20px;
    }
  }
}
