.cards-carousel {
  display: flex;
  flex-direction: column;

  &__slider {
    margin-top: 48px;

    @include mobile {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 16px;
    }

    &__arrow {
      position: absolute;

      background: $color-white-0;
      height: 40px;
      width: 40px;

      border-radius: 50%;

      color: $color-black-0;
    }
  }

  &__video {
    max-width: 539px;
    flex: 1 0 calc(100% - 32px);

    @include mobile {
      width: 300px;
      margin-right: 0px;
    }

    img {
      width: 100%;
      height: auto;

      cursor: pointer;
    }

    margin-right: 32px;
  }
}

.custom-arrows {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 32px;
  gap: 40px;

  button {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    @include btn-reset;
    @include center;

    background: $color-white-0;
    color: $color-text-800;

    svg {
      font-size: 2rem;
    }

    &:disabled {
      opacity: 0.35;
    }
  }
}
