.video-card {
  &__container {
    display: flex;
    gap: 70px;

    @media screen and (max-width: 1080px) {
      flex-direction: column;
    }
  }

  h2 {
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 56px;
    color: $color-white-100;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 9%;
      height: 4px;
      background-color: $color-orange-800;
      border-radius: 1rem;
    }

    @include mobile {
      font-size: 1.5rem;
      margin-top: 0px;
    }
  }

  &__video-list-names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    li {
      height: 87.5px;
      list-style-type: none;
    }

    @include mobile {
      align-items: flex-end;

      li {
        font-size: 1.1rem;
      }
    }

    @media screen and (max-width: 1080px) {
      margin-left: 0px;

      ul {
        width: 100%;
        padding: 0;
      }
    }
  }

  &__video-links {
    width: 360px;
    max-width: 100%;

    height: 87.5px;
    font-size: 1.8rem;
    line-height: 3rem;

    color: $color-white-100;

    border: none;
    border-bottom: 2px solid $color-white-100;
    background: none;
    display: flex;
    align-items: center;

    transition: color 0.2s;

    &:hover,
    &:focus {
      color: $color-orange-800;
      border-bottom: 2px solid $color-orange-800;
    }

    @media screen and (max-width: 1080px) {
      font-size: 1.75rem;
      width: 100%;
    }
  }

  &__video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 16px;

    width: 665px;
    max-width: 100%;

    height: 700px;

    background: $color-white-0;

    border-radius: 16px;
    box-shadow: 0px 278px 111px rgba(0, 0, 0, 0.01),
      0px 156px 94px rgba(0, 0, 0, 0.05), 0px 69px 69px rgba(0, 0, 0, 0.09),
      0px 17px 38px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 1080px) {
      width: 70%;
      align-self: center;
      padding: 32px 26px;
    }

    @include tablet {
      width: 90%;
    }

    @include mobile {
      align-items: center;
      padding: 16px;
      gap: 246px;

      width: 100%;
      height: 486px;
      max-width: 100%;
    }
  }

  &__title {
    font-size: 2rem;
    margin: 8px 0px;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  &__sub-title {
    font-size: 1.1rem;
    height: 10px;
    margin: 8px 0px;

    @include mobile {
      margin: 16px 0px;
      font-size: 1rem;
    }
  }

  &__description {
    font-size: 1rem;
    width: 600px;

    @media screen and (max-width: 1080px) {
      width: 90%;
    }

    @include mobile {
      width: 310px;
    }
  }

  margin-bottom: 56px;

  &__video {
    max-width: 665px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 1080px) {
      max-width: 100%;
      width: 100%;
    }

    @include mobile {
      margin-right: 0px;
    }

    img {
      width: 100%;
      height: auto;

      cursor: pointer;

      @media screen and (max-width: 1080px) {
        max-height: 400px;
      }
    }
  }
}

.video-modal {
  width: 1000px;
  height: auto;

  &__body {
    padding: 0px;
    max-height: none;

    height: auto;
  }

  &__video-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
