.video-carousel {
  display: flex;
  flex-direction: column;

  footer {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-white-0;

      &:disabled {
        opacity: 0.35;

        :hover {
          cursor: default;
        }
      }

      div {
        display: flex;
        svg {
          stroke: $color-black-0;
        }
      }
    }
  }

  &__title,
  &__description {
    font-size: 1.1rem;
    color: $color-text-100;
  }

  &__title {
    margin-bottom: 16px;
  }

  margin-bottom: 56px;

  &__videos-slider {
    margin-top: 48px;

    @include mobile {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 16px;
    }

    &__arrow {
      position: absolute;

      background: $color-primary-orange;
      height: 40px;
      width: 40px;

      border-radius: 50%;

      color: $color-primary-orange;
    }
  }

  &__video {
    max-width: 539px;
    flex: 1 0 calc(100% - 32px);

    @include mobile {
      width: 300px;
      margin-right: 0px;
    }

    img {
      width: 100%;
      height: auto;

      cursor: pointer;
    }

    margin-right: 32px;
  }
}

.custom-arrows {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 32px;
  gap: 40px;

  button {
    width: 40px;
    height: 40px;

    border-radius: 50%;

    @include btn-reset;
    @include center;

    background: $color-primary-orange;
    color: $color-white-0;

    svg {
      font-size: 2rem;
    }
  }
}

.video-modal {
  width: 1000px;
  height: auto;

  &__body {
    padding: 0px;
    max-height: none;

    height: auto;
  }

  &__video-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 50%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
