.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px;
  gap: 32px;
  isolation: isolate;

  margin: 20px;

  width: 540px;
  height: 304px;

  background: $color-white-0;

  box-shadow: 0px 4px 6px rgba(33, 37, 41, 0.2), 0px 0px 1px rgba(33, 37, 41, 0.32);  

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  @include mobile {
    padding: 32px;

    width: 341px!important;
    height: 344px;

    margin-left: 35px;
  }

  @include tablet {
    align-items: flex-start;
    width: auto;
  }

  &__icon-title {
    width: 28.75rem;
    height: 2.5rem;
    display: flex;
    align-items: center;

    img {
      margin-right: 25px;
    }

    @include mobile {
      width: 283px;
      height: 80px;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__title {
    color: $color-orange-800;

    h1 {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 40px;

      order: 1;
      flex-grow: 0;
    }
    
    hr {
      width: 22.2rem;
      margin-top: -15px;
      height: 4px;
      right: 649px;
      top: 80px;
  
      background: $color-primary-orange;
      opacity: 0.2;
  
      flex: none;
      order: 2;
      flex-grow: 0;
      z-index: 2;
    }

    @include mobile {
      width: 200px;

      h1 {
        font-size: 24px;
        line-height: 40px;
      }

      hr {
        width: 170px;
        margin-right: 29px;
      }
    }
  }
  
  &__description {
    width: 28.688rem;
    height: 7rem;
    margin-top: -20px;

    p {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.8rem;

      color: $color-text-800;    
    }

    
    @include mobile {
      width: 279px;
      height: 80px;
      margin-top: -20px;
      
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 272px;
      }
    }

    @include tablet {
      width: auto;
    }
  }
}
