.vertical-post-list__container {
  &__title {
    color: $color-text-100;
    font-size: 1.125rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    font-weight: 700;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    margin: 0px 24px;
  }
}

.vertical-card-list {
  display: flex;
  flex-direction: column;
  gap: 48px;

  margin: 48px 0px 0px 0px;

  padding: 0px;

  @include mobile {
    gap: 16px;
    margin-top: 0px;
  }

  li {
    margin: 0px;
  }

  &__card {
    @include desktop {
      min-height: 342px;
    }

    @include tablet {
      min-height: 342px;
    }

    @include mobile {
      min-height: 274px;
    }
  }
}
