.card {
  @include mobile {
    width: calc(100% - 48px) !important;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;

    width: 345px;
    min-height: 436px;

    background: $color-white-0;
    box-shadow: 0px 16px 40px -24px rgba(0, 0, 0, 0.7);
    border-radius: 16px;

    @include tablet {
      width: 340px;
    }

    h1 {
      font-size: 1.5rem;
      line-height: 1.875rem;
      height: auto;
      color: $color-text-800 !important;

      @include mobile {
        width: 260px;
        height: auto;

        font-size: 1.125rem !important;
        margin: 8px 0px;
      }
    }

    h5 {
      font-size: 1rem;
      line-height: 1.25rem;

      margin: 16px 0px !important;

      @include tablet {
        margin: 8px 0px;
      }
    }

    p {
      width: 298px;
      max-width: 100%;
      height: auto;
      min-height: 120px;

      font-size: 1rem;
      line-height: 24px;
      margin: 0px 0px 16px 0px;

      color: $color-text-800 !important;

      @include mobile {
        width: 294px;

        font-size: 1rem;
        font-weight: 400 !important;

        margin: 0px 0px 32px 0px;
      }
    }

    a {
      margin-top: 10px;
    }

    &__img {
      display: flex;
      justify-content: space-around;

      width: 100%;

      margin-bottom: 22px;
    }

    @include mobile {
      width: 100%;
      border-radius: 38px;
      box-shadow: 0px 49px 49px rgba(0, 0, 0, 0.09),
        0px 12px 27px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

      h5 {
        margin-bottom: 20px;
      }
    }
  }
}
