.menu-mobile {
  display: none;

  @media (max-width: 1000px) {
    display: inline;
  }

  top: 0;
  right: 0;
  transform: translateX(100%);
  z-index: 10000;
  transition: transform 0.5s ease-in;

  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  padding: 48px 16px;

  position: fixed;
  background: $color-gray-300;

  header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link_tag {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: $color-secondary-gray-1;
  }

  &__button-search {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
    margin-left: auto;
    margin-right: 2.5rem;
    padding-bottom: 0.25rem;

    svg {
      margin-right: 0 !important;
    }
  }

  &__search {
    font-size: 2rem;

    @media screen and (max-width: 1000px) {
      margin-left: auto !important;
      margin-right: 2.5rem !important;
    }
  }

  &__close {
    width: 25px;
    height: 25px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin-top: 32px;

    height: 88%;

    section {
      display: flex;
      flex-direction: column;

      gap: 30px;
    }
  }

  &__item {
    margin-bottom: 30px;

    > a {
      font-size: 1rem;
      font-weight: 700;
    }
  }

  &__dropdown__item {
    font-weight: 400;
    margin-bottom: 16px;
    color: $color-secondary-gray-1;
    font-size: 1rem;
  }

  &__submenu {
    display: flex;
    flex-direction: column;
    margin: 15px 0px 32px;
  }

  &__submenu__header {
    font-size: 0.8rem !important;
    font-weight: 700 !important;

    margin-bottom: 8px;
    text-transform: uppercase;

    color: $color-secondary-gray-1;
  }

  &__action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    height: 100%;
    align-items: flex-end;

    > * {
      height: 40px;
      @include center;
    }
  }
}

.menu-mobile[aria-hidden="false"] {
  transform: translate(0);
}

.dropdown {
  button {
    color: $color-secondary-gray-1;
  }

  path {
    stroke: $color-secondary-gray-1;
  }
}
