.filters {
  @include desktop {
    margin-top: 32px;
    padding: 0px 16px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }

  &__buttons {
    button {
      padding: 8px 16px;
      gap: 8px;

      margin: 0px;
      margin-right: 48px;

      cursor: pointer;

      height: 40px;
      background: $color-white-200;
      border-radius: 100px;

      border: 0;

      color: $color-text-800;

      @include tablet {
        margin: 0;
      }
    }

    @include tablet {
      margin: 16px 0px;

      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 16px;
    }

    button[aria-pressed="true"] {
      background: $color-primary-orange;
      color: $color-white-100;
    }
  }

  &__column {
    margin: 0px;
    display: flex;

    div {
      min-width: 141px;

      @include tablet {
        width: auto;
        display: flex;
        align-items: center;
      }
    }

    svg {
      cursor: pointer;
      font-size: 25px;
      opacity: 0.3;
      vertical-align: middle;
      margin-left: 5px;
    }

    button {
      height: 44px;
      border: 0;
      font-weight: 450;
      font-size: 1.125rem;
      background: none;

      cursor: pointer;

      &[aria-pressed="true"] {
        border-bottom: 1px solid $color-primary-orange;
      }
    }

    @include tablet {
      margin: 0;
      padding: 16px 0px;

      overflow-x: scroll;
      height: auto;

      button {
        margin-left: 0px;
        text-align: left;

        width: auto;
        height: auto;
      }
    }
  }

  &__investor-type {
    display: flex;

    h5 {
      margin: 0px;
    }

    &__color-check1 {
      background: $color-gray-text;
      margin-right: 17px;
    }
    &__color-check2 {
      background: $color-primary-blue;
      margin-right: 17px;
    }
    &__color-check3 {
      background: $color-primary-orange;
    }

    @include mobile {
      margin-top: 20px;
      flex-direction: column;
    }

    @include tablet {
      margin-top: 0px;

      fieldset {
        &:first-child {
          padding: 16px 0px;
        }

        &:not(:first-child) {
          padding: 0px 0px 16px 0px;
        }

        label {
          font-size: 1rem;
        }
      }

      h5 {
        font-size: 1rem;
        color: $color-secondary-gray-1;
        margin: 16px 0px;
      }
    }
  }
}
