.menu {
  @media (max-width: 1000px) {
    display: none;
  }

  margin: 0;
  padding: 0;

  height: 58px;

  display: flex;
  align-items: center;

  &__content {
    // width: 100%;
    // height: 100%;

    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__item {
    position: relative;
    height: 100%;

    padding: 0px auto;

    @include align-center;

    > button {
      width: 100%;
      padding: 0px;
      font-size: 1rem;
      color: $color-black-0;
      display: flex;
      align-items: center;
    }

    &__icon_wrapper {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      width: 100%;

      svg {
        stroke: $color-black-0;

        transition: transform 0.2s ease-in-out;

        &[aria-pressed="true"] {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__subitems__container {
    position: absolute;
    top: 40px;
    left: 0px;

    display: flex;
  }

  &__subitems {
    z-index: 10000;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 245px;
    height: fit-content;
    padding: 10px auto;

    background-color: $color-white-0;
    box-shadow: 4px 16px 16px rgba(0, 0, 0, 0.1);

    *:not(:last-child) {
      margin-bottom: 9px;
    }

    button {
      background: none;
    }

    &__child {
      position: absolute;
      top: 0px;
      left: 100px;
    }

    &__item {
      width: 100%;
      height: auto;
      white-space: nowrap;

      button {
        width: 100%;
        text-align: left;

        justify-content: left;
      }
    }
  }
}
