// Media Query
$xl: 1440px;
$lg: 992px;
$md: 820px;
$sm: 560px;
$desktop-container: 1100px;

//Colors
$color-primary-orange: #f58220;
$color-primary-orange-600: #faaf72;
$color-primary-blue: #0044bb;
$color-secondary-gray-1: #48535b;
$color-secondary-gray-2: #717171;
$color-secondary-gray-5: #cdcecb;

$color-blue-text: #063b72;
$color-gray-text: #717171;
$color-gray-text-3: #8b8b8b;

$color-gray-900: #48535b;
$color-gray-800: #c2ac97;
$color-gray-400: #a0a6a8;
$color-gray-350: #c4c4c4;
$color-gray-300: #eceff4;

$color-gray-6: #e5e4e1;

$color-white-0: #ffffff;
$color-white-100: #f8f9fa;
$color-white-200: #f6f6f6;

$color-text-100: #f8f9fa;
$color-text-800: #222222;

$color-orange-800: #f08202;

$color-black-0: #000000;

$color-error: #d93e3e;

$color-neutral-700: #495057;

$color-background-300: #eceff4;
$color-background-800: #0d2d4f;

//Layout sizes

$header-size-desktop: 158px;
$header-size-mobile: 80px;
