.input-container {
  border: 0;
  padding: 0px;
  display: flex;

  align-items: center;

  @include mobile {
    padding: 7px 20px;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: 500;
    color: $color-gray-text;
    margin-left: 5px;
  }

  &__check {
    &:checked {
      background-color: $color-primary-orange;
    }
  }

  &__box {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-left: 7px;
  }
}
