.dropdown {
  width: 100%;

  &__open-button-container {
    cursor: pointer;
    // margin-bottom: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      transition: transform 0.3s;
    }

    svg[aria-pressed="true"] {
      transform: rotate(180deg);
    }
  }

  button {
    @include btn-reset;

    font-size: 1rem;
    color: $color-blue-text;
    font-weight: 700;

    padding: 0;
    width: auto;

    text-align: left;
  }

  &__items {
    display: flex;
    flex-direction: column;

    padding: 0;
  }
}
