.small-background-container {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-color: rgba(34, 34, 34, 0.58) !important;
  background-blend-mode: multiply;
}
