.card-container {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;

  &__cards {
    cursor: grab;
    mask-image: linear-gradient(90deg, #000 98%, transparent);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__divider {
    margin-top: 1.5rem;
    display: flex;
    width: 8%;
    height: 5px;
    border: none;
    background-color: $color-orange-800;
  }

  &__list {
    position: relative;
    display: flex;
    gap: 24px;

    overflow-x: scroll;
    scroll-behavior: smooth;

    margin: 30px 0px;
    padding-bottom: 10px;

    li:first-child {
      margin-left: 5px;
    }

    li:last-child {
      margin-right: 20px;
    }
  }

  h4 {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: $color-text-100;
  }

  @include mobile() {
    width: 100%;
  }
}
