.advice-section {
  margin: 0px;
  margin-bottom: -80px;

  @include mobile {
    margin-bottom: -52px;
  }

  h1 {
    margin: 0;
  }

  &__cards-section {
    padding: 10px;

    background: $color-primary-orange;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    a {
      width: auto;
    }
  }

  &__text-content {
    padding: 50px;

    &__cards {
      margin-top: 20px;
    }

    @include tablet {
      padding: 30px 0;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__text-info {
    display: flex;
    background-size: cover;
    padding-top: 2.25rem;
    height: 27.5rem;

    h1 {
      font-size: 3rem;
      color: $color-text-100;

      @include tablet {
        font-size: 2.5rem;
      }

      @include mobile {
        width: 258px;

        font-size: 2rem;
        text-align: center;
      }
    }

    &__content {
      @include container;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 15px;

      @include mobile {
        margin: 0px 10px;
        padding-bottom: 51px;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.8rem;

        text-align: center;

        max-width: 1069px;
        height: auto;

        color: $color-white-0;

        @include mobile {
          font-size: 1rem;
          line-height: 30px;
          margin-top: 20px;
        }
      }

      a {
        width: fit-content;
        margin-top: 15px;

        @include mobile {
          font-size: 1rem;
        }
      }
    }

    @include tablet {
      height: 475px;
      background-position-x: center;
      background-position-y: center;
      background-repeat: no-repeat;
    }

    @include mobile {
      height: 600px;
      padding: 25px;
    }
  }

  &__card-content {
    background: $color-blue-text;
    list-style: none;

    padding: 80px;

    &__title {
      color: $color-white-100;
      font-size: 3rem;

      position: relative;

      margin-bottom: 40px !important;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 9%;
        height: 4px;
        background-color: $color-orange-800;
        border-radius: 1rem;
      }

      @include tablet {
        font-size: 2rem;
      }
    }

    &__description {
      color: $color-white-100;

      @include tablet {
        width: 696px;
      }

      @include mobile {
        width: 342px;
      }
    }

    &__wrapper {
      mask-image: linear-gradient(90deg, #000 98%, transparent);

      &::before {
        mask-image: linear-gradient(270deg, #000 98%, transparent);
      }

      @include mobile {
        max-width: none;
        width: calc(100vw - 24px);
        margin-right: 0px;
      }
    }

    &__list {
      position: relative;
      cursor: grab;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 24px;
      scroll-behavior: smooth;

      margin: 45px 0px;
      padding-bottom: 10px;

      li:first-child {
        margin-left: 5px;
      }

      li:last-child {
        margin-right: 20px;
      }
    }

    @include tablet {
      padding: 45px 0px;
    }

    @include mobile {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 1px;

      h1 {
        font-size: 1.5rem;
        width: 212px;

        &:after {
          content: "";
          width: 25%;
        }
      }
    }
  }
}

.banner {
  * {
    color: $color-text-100;
  }

  p {
    font-size: 1.75rem;
    line-height: 2.5rem !important;
    font-weight: 400;

    max-width: 635px !important;
    height: auto;

    @include mobile {
      font-size: 1rem;
      line-height: 1.5rem !important;

      max-width: 300px !important;
    }
  }

  a {
    width: fit-content;
  }
}

.list {
  p {
    color: $color-text-800;
  }
}
