.discourse-principles-outer-container {
  width: 100%;
  padding: 6.5rem 0 6.5rem;
  background-color: $color-blue-text;

  @include tablet {
    padding: 3.5rem 0 6.5rem;
  }

  @include mobile {
    padding: 2rem 0 3.5rem;
  }
}

.achievements-discourse-container {
  max-width: 1110px;

  margin: 0 auto;

  &__carousel {
    h4 {
      width: 256px;
    }

    P {
      width: 256px;

      @include tablet {
        width: 505px;
      }

      @include mobile {
        width: 294px;
        margin-bottom: -20px;
      }
    }
  }

  &__carousel2 {
    P {
      width: 495px;

      @include tablet {
        width: 561px;
      }

      @include mobile {
        width: 278px;
      }
    }
  }

  @media (max-width: 1110px) {
    margin: 0px 24px;
  }

  @include mobile {
    max-width: 100vw;

    margin: 25px 24px;
  }
}
