.market-section {
  margin: 0px;
  height: 345px;

  @include tablet {
    height: 0;
  }

  @include mobile {
    height: 255px;
  }

  h1 {
    margin: 0;
  }

  &__title {
    height: 700px;

    @include mobile {
      height: auto;
    }

    &__content {
      @include container;
      height: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        margin: 0px 24px;
        padding-top: 45px;
        padding-bottom: 51px;
      }

      h1 {
        color: $color-text-800;

        @include mobile {
          width: 253px;
        }
      }

      p {
        width: 860px;

        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 400;

        height: auto;

        color: $color-gray-text;

        @include tablet {
          width: 696px;
        }

        @include mobile {
          font-size: 1rem;
          line-height: 1.5rem;

          max-width: 355px;
        }
      }
    }
  }

  &__scroll-container-wrapper {
    cursor: grab;
    mask-image: linear-gradient(90deg, #000 98%, transparent);
  }

  &__card-content {
    list-style: none;
    padding: 40px;

    background: $color-primary-orange;

    &__title {
      color: $color-white-100;
      font-size: 3rem;

      position: relative;

      margin-bottom: 60px !important;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 9%;
        height: 4px;
        background-color: $color-white-100;
        border-radius: 1rem;
      }
    }

    p {
      color: $color-white-100;
      font-size: 1.1rem;
      margin-left: 26px;
    }

    &__list {
      position: relative;
      display: flex;
      gap: 30px;

      overflow: auto;
      scroll-behavior: smooth;

      @include tablet {
        margin: 24px 0;
      }
    }

    @include mobile {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 1px;

      h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 212px;

        &:after {
          content: "";
          width: 25%;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        width: 342px;
        margin: 16px 0px;
      }
    }
  }

  &__cards {
    padding: 10px;

    background: $color-primary-orange;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &__card-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 30px 0 60px;

    &__title {
      color: $color-text-800;
      font-size: 3rem;

      position: relative;

      margin-bottom: 40px !important;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 9%;
        height: 4px;
        background-color: $color-primary-orange;
        border-radius: 1rem;
      }

      @include mobile {
        font-size: 1.5rem;
        margin: 40px 0 -40px !important;
      }
    }

    &__contant {
      display: flex;
      margin-left: -25px;

      @include mobile {
        margin: 44px 0 0 -10px;
      }
    }

    @include mobile {
      height: auto;
    }
  }
}

.card-content {
  padding-bottom: 175px;

  li {
    margin: 10.5rem 45px;
    height: 315px !important;
  }

  div {
    z-index: 0 !important;
  }

  img {
    width: 300px !important;
  }

  * {
    color: $color-text-800 !important;
  }

  h2 {
    font-size: 1.1rem !important;
    text-transform: uppercase;
  }

  p {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    width: 640px;
  }

  @include tablet {
    padding-bottom: 490px;

    li {
      margin: 22.5rem 0;

      &:nth-child(odd) {
        margin-top: 455px;
      }
    }

    p {
      width: 320px;
    }
  }

  @include mobile {
    padding-bottom: 0;
    margin-bottom: -70px;

    li {
      margin: 8rem -36px;
      height: 1120px !important;
    }

    div {
      max-width: 358px !important;
    }
  }
}
