.private-pension-section {
  &__banner {
    @include tablet {
      p {
        width: 361px;
      }
    }

    @include mobile {
      h1 {
        width: 253px;
      }
    }
  }

  &__question-indicator {
    width: 32px;
    height: auto;

    path {
      fill: $color-primary-orange;
    }
  }

  &__description {
    color: $color-text-800;
    margin: 56px 0px;

    @include tablet {
      margin: 48px 0px;
    }
  }

  &__cards-title {
    color: $color-gray-text;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;

    margin-top: 48px;
    margin-bottom: 24px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    @include tablet {
      display: flex;
      overflow: auto;

      li {
        margin: 0;
        min-width: calc(80% - 32px);
      }
    }

    @include mobile {
      display: flex;
      flex-direction: column;

      gap: 16px;
    }
  }

  &__alert {
    background: $color-primary-orange;
    min-height: 124px;
    margin: 52px 0px;

    border-radius: 16px;

    @include center;

    > div {
      text-align: center;
      color: $color-white-100;
      font-size: 1.125rem;

      margin: 24px;

      @include center;

      gap: 8px;

      svg {
        min-width: 26.67px;
        width: 26.67px;
        height: 100%;

        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: underline;
        color: inherit;
        font-size: inherit;

        &:hover {
          color: inherit;
        }
      }

      @include mobile {
        padding: 24px 0px;

        p {
          max-width: 206px;
          padding: 0px 16px;
          margin: 0px;

          text-align: left;
        }
      }

      @include tablet {
        margin: 0px 32px;
      }
    }
  }
}
