.transfer-of-resources-section {
  padding: 70px;

  @include mobile {
    padding: 35px 0 50px;
  }
}

.banner {
  @include tablet {
    h1 {
      white-space: nowrap;
    }
    p {
      width: 600px;
    }
  }

  @include mobile {
    h1 {
      white-space: initial;
    }
  }
}

.questions {
  color: $color-primary-orange;
}

.info {
  display: block;
  padding: 45px 0px;
  width: 835px;

  a {
    color: $color-orange-800;
    text-decoration: revert;
    word-break: break-word;
  }

  li {
    font-size: 1.1rem;
    color: $color-text-800;
  }

  ol {
    margin-left: -21px;
    li {
      list-style: decimal;      
    }
  }

  strong {
    font-size: 1.1rem;
    font-weight: bolder;
    border: 0;
    border-radius: 0;
    padding: 0;
    gap: 0;
    display: initial;
    white-space: nowrap;
    align-items: center;
    height: 0;
    margin: 0;
    white-space: break-spaces;
  }

  @include tablet {
    width: auto;
  }
}
