.contact-us-form-container {
  margin: 90px 0px;

  h2 {
    color: $color-text-800;
    margin: 0 0 25px;
  }

  @include tablet {
    margin: 55px 0px;
  }

  @include mobile() {
    margin: 48px 0px;
  }

  &__divider {
    width: 86px;
    height: 5px;
    background: $color-primary-orange;
  }

  &__form {
    margin-top: 40px;
    background: $color-white-0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 24px 96px;
    box-shadow: 0px 4px 6px rgba(33, 37, 41, 0.2),
      0px 0px 1px rgba(33, 37, 41, 0.32);
    border-radius: 8px;

    @include tablet {
      padding: 32px 24px;
    }

    &__subtitle {
      align-self: flex-start;
      margin: 48px 0px;

      @include tablet {
        margin-top: 0;
      }

      color: $color-gray-text;
    }

    &__textarea {
      border: 1px solid $color-gray-400;
      box-shadow: 0px 3px 8px rgb(0 0 0 / 18%);
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 1rem;
      color: $color-gray-900;
      height: 180px;
      &:focus {
        outline: none;
        border: 1px solid $color-primary-orange;
      }
    }

    button {
      width: 159px;
      height: 48px;

      @include mobile {
        align-self: center;
      }
    }
  }

  .success-message-modal {
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 48px 32px;

    strong {
      font-size: 1.75rem;
      line-height: 2.5rem;
      font-weight: 700;

      text-align: center;
      color: $color-text-800;
    }

    span {
      font-size: 1rem;
      color: $color-text-800;
      text-align: center;
    }

    img {
      width: 135px;
      height: auto;
    }
  }
}
