.carousel-dots__left-aligned-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transform: translateY(-1.5rem);

  @include tablet {
    justify-content: center;
  }
}

.carousel-container {
  background-color: $color-white-0;
  padding: 2rem 4rem 8rem 4rem;
  margin-top: 3rem;
  border-radius: 1rem;

  > h3 {
    font-size: 1.125rem;
    font-weight: 700;
    color: $color-gray-text;
    text-transform: uppercase;
    margin: 0 0 30px 30px;

    @include mobile {
      margin: 0 0 30px;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    @include mobile {
      margin: 0 -25px;
    }

    li {
      margin: 0 25px;
    }  
  }

  @include tablet() {
    padding: 1rem 2rem 6rem 2rem;
  }

  @include mobile {
    padding: 2rem 2rem 3.5rem 2rem;
  }
}

.carousel-dot__container {
  display: flex;
  padding-top: 6.25rem;
  height: 5rem;
  width: 100%;
}

.carousel-dot {
  padding-right: 1rem;
  margin: -24px 0px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    background-color: $color-orange-800;
    color: $color-white-0;
    opacity: 0.35;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 8px 16px 8px 16px;

    transition: opacity 0.1s ease-in-out;
  }
}

.carousel-dot__active {
  span {
    opacity: 1;
  }
}
