.ipo-list {
  padding: 16px 8px;
  box-shadow: none;

  header {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    button {
      @include btn-reset;

      font-size: 1.125rem;
      color: $color-text-800;
      min-height: 44px;
      height: auto;

      &[aria-pressed="true"] {
        border-bottom: 2px solid $color-primary-orange;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;

    height: 44px;

    button {
      width: 24px;
      height: 24px;

      @include center;
      @include btn-reset;

      border-radius: 50%;
      background: $color-primary-orange;

      svg {
        fill: $color-white-0;

        width: 20px;
        height: auto;
      }
    }
  }
}

.public-offers-table {
  width: 100%;
  border-spacing: 0px 17px;

  margin: 32px 0px;

  thead {
    width: 100%;

    height: 62px;
    background: $color-gray-300;

    tr {
      text-align: left;

      color: $color-text-800;
      font-size: 1rem;
      font-weight: 500;

      th {
        padding-left: 16px;
      }

      th:not(:nth-child(1), :nth-child(2)) {
        text-align: center;
      }
    }
  }

  tbody {
    width: 100%;

    td {
      padding: 17px 7px;
      text-align: left;

      max-width: 419px;
    }

    td:nth-child(2) {
      width: 508px;
    }
  }

  &__date {
    padding-left: 7px;
    border-left: 3px solid $color-primary-orange;
  }

  &__icon {
    > span {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        cursor: pointer;
        font-size: 1.5rem;

        path {
          fill: $color-black-0;
        }

        path:first-child {
          fill: $color-primary-orange;
        }
      }
    }
  }

  &__icon-arrow {
    cursor: pointer;

    path {
      stroke: $color-primary-orange;
    }

    transition: transform 0.2s ease-in-out;

    &[aria-pressed="true"] {
      transform: rotate(180deg);
    }
  }

  &__item-expanded {
    width: 100%;
    background: rgba(236, 239, 244, 0.55);

    td {
      padding: 34px 40px !important;

      > div {
        max-width: 70%;
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          flex-direction: column;

          gap: 10px;
          padding: 10px;

          strong {
            font-size: 1rem;
            color: $color-text-800;
          }

          span {
            font-family: "Inter";
            color: $color-neutral-700;
          }
        }
      }
    }

    p {
      color: $color-primary-orange !important;
      max-width: 249px;
      white-space: pre-wrap;

      font-family: "Inter";
      font-size: 1rem;
      font-weight: 500;
    }

    &__info {
      margin-top: 24px;

      button {
        padding: 8px 24px;
      }
    }
  }
}

.public-offers-list--mobile {
  list-style: none;
  margin-top: 32px;

  header {
    min-height: 62px;
    height: auto;

    padding: 0px 13px;

    background: $color-gray-300;

    display: flex;
    align-items: center;

    border-left: 3px solid #f08202;
  }

  footer {
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 16px 0px;
    padding: 8px 16px;

    a {
      padding: 8px 16px;
      font-size: 1rem;
      width: auto;
    }
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
      display: flex;
      flex-direction: column;

      padding: 16px 8px;
      gap: 8px;

      strong {
        font-size: 0.75rem;
        font-weight: 400;
        color: $color-gray-text;
      }

      span {
        font-size: 1rem;
        color: $color-text-800;
      }
    }
  }

  &__icon {
    svg {
      cursor: pointer;
      font-size: 1.7rem;

      path {
        fill: $color-black-0;
      }

      path:first-child {
        fill: $color-primary-orange;
      }
    }
  }

  &__dropdown {
    background: $color-white-200;
    height: 62px;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transition: transform 0.2s ease-in-out;

      &[aria-pressed="true"] {
        transform: rotate(180deg);
      }

      path {
        stroke: $color-primary-orange;
      }
    }
  }
}
